.about{
    background-color: blue;
    align-items: center;
    display: flex;
}
.h2{
    color: white
}
.about-text{
    font-size: 20px;
    text-align: center;
    color: white;
    max-width: 400px;
    justify-content: center;
    border: 1px solid white;
}
.p{
    color: white;
    align-content: center;
}
.about-section{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 40px;

}
.p{
    color: white;
    text-align: right;
    justify-self: flex-end;
    display: flex;

}
