body {
  background-color: #2b1d1a;
  margin: 0;
  font-family: sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

header,
footer {
  background-color: #2b1d1a;
}

a {
  text-decoration: none;
  color: white;
}
img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

footer {
  display: flex;
  justify-content: space-between;
}

footer {
  margin-top: auto;
}
